input {
  border: 1px solid blue;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  color: blue;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  margin: 2px;
}
