.main {
  text-align: center;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration-line: line-through;
}
.link:hover {
  text-decoration: none;
}
.dashboard {
  width: 46%;
  display: inline-block;
  margin: 10px;
  background-color: violet;
  padding: 20px;
  text-align: center;
  border: 1px solid brown;
  border-radius: 5px;
}
